<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="/static/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-expand bg-primary navbar-dark">
                    <a href="{% url 'homepage' %}" class="navbar-brand">WebsiteLogo</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'homepage' %}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'aboutpage' %}" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'blogs' %}" class="nav-link">Blogs</a>
                        </li>
                        {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'loginview' %}" class="nav-link">Login</a>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">{{user.username}}
                              <div class="dropdown-menu">
                                  <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
                                  <a class="dropdown-item" href="{% url 'create_blog' %}">Post Blog</a>
                                  <a class="dropdown-item" href="{% url 'my_blogs' %}">My Blogs</a>
                                  <a class="dropdown-item" href="{% url 'uslogout' %}">Logout</a>
                              </div>
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{% url 'donation' %}" class="nav-link btn btn-outline-warning btn-sm ml-4">Donate</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- HEADER CODE END -->
    {% block myblock %}
    
    {% endblock %}

    <!-- FOOTER STARTED -->
    <div class="container-fluid bg-dark text-light text-center py-3">
        <div class="row">
            <div class="col-md-4">
                <h2>Website Name</h2>
                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi laboriosam repudiandae nulla totam voluptas aliquam quisquam possimus ratione sed eius at expedita, molestias molestiae alias, voluptates itaque odio, in placeat?</small>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>LINK 1</li>
                    <li>LINK 2</li>
                    <li>LINK 3</li>
                    <li>LINK 4</li>
                </ul>
            </div>
            <div class="col-md-4">
                <img src="/static/images/download.jpg" style="height:150px;width:150px;border-radius:50%">
                <br><ins>lorem@example.com</ins> <br>
                <ins>+91 989809809</ins> <br>
            </div>
        </div>
    </div>

</body>
</html>