{% extends "base.html" %}
{% block myblock %}
<div class="container-fluid">
    <div class="row py-5" style="background:url('/static/images/cover.jpg');background-attachment:fixed;background-size: 100% 100%;">
        <div class="col-md-12 text-light py-4 text-center">
            <h1>All Blogs ({{all|length}})</h1>
        </div>
    </div>
    <div class="row">
        {% for i in all %}
            <div class="col-md-12 mt-5" style="box-shadow:0px 0px 10px gray;">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/media/{{i.image}}" style="height:100%;width:100%;">
                    </div>
                    <div class="col-md-8">
                        <h2>{{i.title}}</h2>
                        <p class="text-muted"><small class="mr-5">Writer: {{i.user.first_name}} {{i.user.last_name}}</small>
                            <small class="mr-5">Email: {{i.user.email}}</small>
                            <small class="mr-5">Member Since: {{i.user.date_joined}}</small>
                        </p>
                        <small>{{i.text}}</small> <br> <br>
                        <small class="mr-5"><em>Posted On: {{i.posted_on}}</em></small>
                        <small><em>Updated On: {{i.updated_on}}</em></small>
                        </small>
                    </div>
                </div>
            </div>
           
        {% endfor %}
    </div>

</div>

{% endblock %}