{% extends 'base.html'%}
{% block myblock %}
<div class="container-fluid ">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="jumbotron">Home &gt; CONTACT PAGE</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056119523628!2d76.69247711461036!3d30.71682269345137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1593080613588!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-md-6">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Full Name</label>
                    <input class="form-control" name="name" type="text" placeholder="Enter Full Name...">
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input class="form-control" name="email" type="email" placeholder="Enter Email Address...">
                </div>
                <div class="form-group">
                    <label for="">Contact Number</label>
                    <input class="form-control" name="number" type="text" pattern="[0-9]{10}" placeholder="Enter Contact Number...">
                </div>
                <div class="form-group">
                    <label for="">Message</label>
                    <textarea class="form-control" name="message" rows="5" placeholder="Message Here"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">SEND MESSAGE</button>
                </div>
            </form>
        </div>
    </div>  

</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location="/"
</script>
{% endif %}
{% endblock %}