{% extends "base.html" %}
{% block myblock %}
<div class="container-fluid">
   <div class="row">
     <div class="col-md-6 my-4 mx-auto">
        <div class="card">
            <div class="card-header">
               <h1>Basic Information</h1>
            </div>
            <div class="card-body">
                <p class="alert alert-success"> WELCOME : {{user.username}}</p>
                <p>Email: {{user.email}}</p>
                <p>First Name: {{user.first_name}}</p>
                <p>Last Name: {{user.last_name}}</p>
                <p><em>Joined On: {{user.date_joined}}</em></p>
            </div>
        </div>
     </div>
   </div>
</div>
{% endblock %}