{% extends "base.html" %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
       <div class="col-md-6" style="background:url('/static/images/cover.jpg')"></div>
        <div class="col-md-6" style="box-shadow:0px 0px 10px gray;">
            <h4>Fill Your Details Here</h4>
            <form action="" method="post">
                {% csrf_token %}
                {% if status %}
                    <div class="alert {{color}}">{{status}}</div>
                    <!-- <script>
                        alert("{{status}}");
                    </script> -->
                {% endif %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">First Name</label>
                            <input type="text" class="form-control" name="first" placeholder="Enter First Name">
                        </div>
                        <div class="col-md-6">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control" name="last" placeholder="Enter Last Name">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Username</label>
                    <input type="text" class="form-control" name="username" required placeholder="Choose Your Username...">
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Choose Email Address...">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Choose Password...">
                </div>
                <div class="form-group">
                    <label for="">Contact Number</label>
                    <input type="number" class="form-control" name="contact" placeholder="Enter Contact Number...">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" placeholder="Sign Up">
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}
