{% extends "base.html" %}
{% block myblock %}
<div class="container-fluid">
    <div class="row py-5" style="background:url('/static/images/cover.jpg');background-attachment:fixed;background-size: 100% 100%;">
        <div class="col-md-12 text-light py-4 text-center">
            <h1>My Blogs ({{all|length}})</h1>
        </div>
    </div>
    <div class="row">
        {% for i in all %}
            <div class="col-md-12 mt-5" id = "blog{{i.id}}" style="box-shadow:0px 0px 10px gray;">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/media/{{i.image}}" style="height:100%;width:100%;">
                    </div>
                    <div class="col-md-8">
                        <h2>{{i.title}}</h2>
                        <p class="text-muted"><small class="mr-5">Writer: {{i.user.first_name}} {{i.user.last_name}}</small>
                            <small class="mr-5">Email: {{i.user.email}}</small>
                            <small class="mr-5">Member Since: {{i.user.date_joined}}</small>
                        </p>
                        <small>{{i.text}}</small> <br> <br>
                        <small><em>Posted On: {{i.posted_on}}</em>
                        </small>
                        <div class="">
                            <button  class="btn btn-success m-2 btn-sm" data-toggle="modal" data-target="#m{{i.id}}">Update</button>
                            <button onclick="delete_blog('{{i.id}}','{{i.title}}')" class="btn btn-danger m-2 btn-sm">Delete</button>
                        </div>
                        <div class="modal" id="m{{i.id}}">
                            <div class="modal-dialog fade show">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="get" action="{% url 'update' %}">
                                            {% csrf_token  %}
                                            <div class="form-group">
                                                <input type="hidden" value="{{i.id}}" name="blog_id">
                                                <label>Title</label>
                                                <input type="text" class="form-control" name="title" value="{{i.title}}" >
                                            </div>
                                            <div class="form-group">
                                                <label>Description</label>
                                               <textarea name="desc"  rows="10" class="form-control">{{i.text}}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-success btn-sm" value="Save Changes" name="update">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function delete_blog(id,title){
                    con = confirm("Are you sure want to delete "+title+" ?");
                    if(con==true){
                    $.ajax({
                        url:"{% url 'delete_blog' %}",
                        type:"get",
                        data:{blog_id:id},
                        success:function(data){
                            $("#blog"+id).hide();
                            alert(data);
                            
                        }
                    });
                }
                }
            </script>
           {% if status %}
            <script>
                alert("{{status}}");
            </script>
           {% endif %}
        {% endfor %}
    </div>

</div>

{% endblock %}